<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <h1 class="govuk-heading-xl">
            Review organisation request
        </h1>
        <p class="govuk-body-l">Review these details before submitting your request, which will be sent to approvers at <%=locals.organisation.name%>.</p>

        <dl class="govuk-summary-list">

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Organisation
                </dt>
                <dd class="govuk-summary-list__value">
                    <%= locals.organisation.name %>
                </dd>
            </div>

            <% if (locals.organisation.LegalName) { %>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Legal name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%= locals.organisation.LegalName %>
                    </dd>
                </div>
            <% } %>
            
            <% if (organisation.type || organisation.providerTypeName) { %>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Type
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%= organisation.type ? organisation.type.name : organisation.providerTypeName %>
                    </dd>
                </div>
            <% } else if (organisation.category) { %>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Category
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%= organisation.category.name %>
                    </dd>
                </div>
            <% } %>

            <% if (locals.organisation.address) { %>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Address
                </dt>
                <dd class="govuk-summary-list__value">
                    <%= locals.organisation.address %>
                </dd>
            </div>
            <% } %>

            <% if (locals.organisation.urn) { %>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    URN
                </dt>
                <dd class="govuk-summary-list__value">
                    <%= locals.organisation.urn %>
                </dd>
            </div>
            <% } %>

            <% if (locals.organisation.uid) { %>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    UID
                </dt>
                <dd class="govuk-summary-list__value">
                    <%= locals.organisation.uid %>
                </dd>
            </div>
            <% } %>

            <% if (locals.organisation.ukprn) { %>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    UKPRN
                </dt>
                <dd class="govuk-summary-list__value">
                    <%= locals.organisation.ukprn%>
                </dd>
            </div>
            <% } %>
            
            <% if (locals.organisation.upin) { %>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        UPIN
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%= locals.organisation.upin %>
                    </dd>
                </div>
            <% } %>
        </dl>

        <form method="post" class="prevent-form-double-submission">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
            <input type="hidden" value="<%=locals.organisation.id%>" name="organisationId"/>
            <input type="hidden" value="<%=locals.organisation.name%>" name="organisationName"/>
            
            <div class="govuk-form-group govuk-character-count <%= (locals.validationMessages.reason !== undefined) ? 'govuk-form-group--error' : '' %>" data-module="govuk-character-count" data-maxlength="200">
                <h2 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--m" for="reason">
                    Reason for request
                    </label>
                </h2>
                <div id="reason-hint" class="govuk-hint">
                    The approvers at the organisation will see this information when reviewing your request. Explain why you need access and what your job role is.
                </div>
                
                <% if (locals.validationMessages.reason !== undefined) { %>
                    <span id="validation-message" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> <%=locals.validationMessages.reason %>
                    </span>
                <% } %>
                <textarea class="govuk-textarea govuk-!-width-full govuk-js-character-count" id="reason" name="reason" rows="6" aria-describedby="reason-info reason-hint"  placeholder="e.g I am an administrator at the organisation and need to be able to submit the census."><% if (locals.reason.length > 0) { %><%= locals.reason %><% } %></textarea>
                <div id="reason-info" class="govuk-hint govuk-character-count__message">
                    You have 200 characters remaining
                </div>
            </div>

            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-visually-hidden">Warning</span>
                    This request must be approved or rejected before you can send another organisation request.
                </strong>
                </div>
            
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button">Confirm</button>
                <a href="/organisations" class="govuk-button govuk-button--secondary">Cancel</a>
            </div>

        </form>
    </div>
</div>