<a href="search" class="link-back">Back</a>

<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Confirm request
        </h1>
        <p class="lede">An email with your request will be sent to approvers at <%=locals.organisation.name%>.</p>

        <dl class="app-check-your-answers app-check-your-answers--short">
            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__title">
                    Request details
                </dt>
                <dd class="app-check-your-answers__change ">
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Organisation
                </dt>
                <dd class="app-check-your-answers__answer">
                    <%= locals.organisation.name %>
                </dd>
            </div>

            <% if (locals.organisation.address) { %>
            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Address
                </dt>
                <dd class="app-check-your-answers__answer">
                    <%= locals.organisation.address %>
                </dd>
            </div>
            <% } %>

            <% if (locals.organisation.category && locals.organisation.category.name) { %>
            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Category
                </dt>
                <dd class="app-check-your-answers__answer">
                    <%= locals.organisation.category.name %>
                </dd>
            </div>
            <% } %>

            <% if (locals.organisation.urn) { %>
            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    URN
                </dt>
                <dd class="app-check-your-answers__answer">
                    <%= locals.organisation.urn %>
                </dd>
            </div>
            <% } %>

            <% if (locals.organisation.uid) { %>
            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    UID
                </dt>
                <dd class="app-check-your-answers__answer">
                    <%= locals.organisation.uid %>
                </dd>
            </div>
            <% } %>

            <% if (locals.organisation.ukprn) { %>
            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    UKPRN
                </dt>
                <dd class="app-check-your-answers__answer">
                    <%= locals.organisation.ukprn%>
                </dd>
            </div>
            <% } %>
        </dl>

        <form method="post">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
            <input type="hidden" value="<%=locals.organisation.id%>" name="organisationId"/>
            <input type="hidden" value="<%=locals.organisation.name%>" name="organisationName"/>
            <div class="form-group <%= (locals.validationMessages.reason !== undefined) ? 'form-group-error' : '' %>">
                <label class="form-label" for="reason">
                    Give a reason why you need to be linked to the organisation, or the services you need (Optional)
                </label>
                <% if (locals.validationMessages.reason !== undefined) { %>
                <p class="error-message" id="validation-message"><%=locals.validationMessages.reason %></p>
                <% } %>
                <textarea class="form-control" id="reason" name="reason" maxlength="1000" rows = "6" style="width: 100%;"></textarea>
            </div>

            <div class="wo form-submit submit-buttons">
                <button type="submit" class="button">Confirm</button>
                <a href="/organisations" class="button button-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
