<% if (locals.approverRequests && locals.approverRequests.length > 0) { %>
    <div class="panel panel-border-narrow alert-default" tabindex="0">
        <% if (locals.approverRequests.length === 1) { %>
            <p class="govuk-body">There is <strong class="govuk-!-font-size-19 govuk-!-font-weight-bold"><%= locals.approverRequests.length %> request</strong> you need to
                action - <a class="govuk-link-bold" href="/access-requests">view requests</a></p>
        <% } else { %>
            <p class="govuk-body">There are <strong class="govuk-!-font-size-19 govuk-!-font-weight-bold"><%= locals.approverRequests.length %> requests</strong> you need to
                action - <a class="govuk-link-bold" href="/access-requests">view requests</a></p>
        <% } %>
    </div>
<% } %>
<% if (locals.flash.info) { %>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="notification notification-success">
            <%= locals.flash.info %>
        </div>
    </div>
</div>
<% } %>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Organisations</h1>
        <% if (organisations.length === 0) { %>
            <p class="govuk-body">To access services, your DfE Sign-in account must be linked to an organisation.</p>
        <% } %>

    </div>

    <% if (locals.useRequestOrg && !disableReqOrgLink) { %>
        <div class="govuk-grid-column-one-third">
            <aside class="govuk-!-margin-top-9">
                <h2 class="govuk-heading-m">Actions</h2>
                <ul class="govuk-list">
                    <li><a class="govuk-link-bold" href="/request-organisation/search">Request an organisation</a></li>
                </ul>
            </aside>
        </div>
    <% } %>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <% if (organisations.length <= 0) { %>
            <div class="empty-state">
                <% if (locals.useRequestOrg) { %>
                    <p class="govuk-body">You are not linked to any organisations in DfE Sign-in. You can <a class="govuk-link-bold" href="/request-organisation/search">request an organisation</a> to be linked to your account.</p>
                <% } else { %>
                    <p class="govuk-body">You are not linked to any organisations in DfE Sign-in, please contact your approver.</p>
                <% } %>
            </div>
        <% } else { %>
        <table class="data">
            <thead>
            <tr class="sortable">
                <th scope="col" class="cwp-30">
                    Organisation</th>
                <th scope="col">
                    Approvers</th>
                <th scope="col">
                    Your permission</th>
            </tr>
            </thead>
            <tbody>

            <% for (let o = 0; o < locals.organisations.length; o++) {
            const organisation = locals.organisations[o]%>
            <% if (organisation.requestDate) { %>
            <tr class="pending">
            <% } else { %>
            <tr>
            <% } %>
                <td>
                    <%= organisation.name %>
                    <% if (organisation.status) { %>
                        <br> Status: <%= organisation.status.name %>
                    <% } %>
                    <% if (organisation.urn) { %>
                        <br> URN: <%= organisation.urn %>
                    <% } %>
                    <% if (organisation.uid) { %>
                        <br> UID: <%= organisation.uid %>
                    <% } %>
                    <% if (organisation.ukprn) { %>
                        <br> UKPRN: <%= organisation.ukprn %>
                    <% } %>
                </td>
                <% if (organisation.requestDate) { %>
                    <td>-</td>
                <% } else { %>
                    <td>
                        <% if (organisation.approvers.length === 0) { %>
                            No approvers
                        <% } else if (organisation.approvers.length < 5) { %>
                            <ul>
                                <% for (let a = 0; a < organisation.approvers.length; a++) { %>
                                <li><a class="govuk-link" href="mailto:<%=organisation.approvers[a].email%>"><%= organisation.approvers[a].email %></a> </li>
                                <% } %>
                            </ul>
                        <% } else { %>
                            <article class="organisation-services" style="margin-bottom: 0">
                                <section class="organisation" style="padding: 0; margin:0;">
                                    <div class="user">
                                        <a class="govuk-link" href="" class="info-link" style="float: none;"><%= organisation.approvers.length %> approvers</a>
                                    </div>
                                    <div class="meta js-hidden">
                                        <div class="approvers">
                                            <dl class="inline condensed small-dt">
                                                <ul>
                                                    <% for (let a = 0; a < organisation.approvers.length; a++) { %>
                                                    <li><a class="govuk-link" href="mailto:<%=organisation.approvers[a].email%>"><%= organisation.approvers[a].email %></a> </li>
                                                    <% } %>
                                                </ul>
                                            </dl>
                                        </div>
                                    </div>
                                </section>
                            </article>
                        <% } %>
                    </td>
                <% } %>

                <% if (organisation.role) { %>
                    <td><%= organisation.role.name %></td>
                <% } else { %>
                    <td>
                        Requested <br> <%= locals.moment(organisation.requestDate).format('DD/MM/YYYY') %>
                    </td>
                <% } %>

            </tr>
            <% } %>
            </tbody>
        </table>
        <% } %>
    </div>
</div>
