<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <% if (locals.serviceDetails.relyingParty && locals.serviceDetails.relyingParty.params && locals.serviceDetails.relyingParty.params.serviceConfirmMessageHeader) { %>
            <div class="notice" style="margin-top: 1.25em;">
                <i class="icon icon-important">
                    <span class="govuk-visually-hidden">Warning</span>
                </i>
                <strong class="govuk-!-font-size-19 govuk-!-font-weight-bold">
                    <%- locals.serviceDetails.relyingParty.params.serviceConfirmMessageHeader %>
                </strong>
            </div>
        <% } %>
        <h1 class="govuk-heading-xl">
            Select roles
        </h1>
        <p class="govuk-body">Showing service <%= locals.currentService%> of <%=locals.totalNumberOfServices%></p>
        <dl class="app-check-your-answers app-check-your-answers--short">

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__title">
                    User
                </dt>
                <dd class="app-check-your-answers__answer">
                    <%= locals.name%>
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__title">
                    Organisation
                </dt>
                <dd class="app-check-your-answers__answer">
                    <%=locals.organisationDetails.organisation.name%>
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__title">
                    Service
                </dt>
                <dd class="app-check-your-answers__answer">
                    <%=locals.serviceDetails.name%>
                </dd>
            </div>
        </dl>
        <form method="post">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
            <div class="govuk-form-group  <%= (locals.validationMessages.roles !== undefined) ? 'form-group-error' : '' %>">
                <fieldset>
                    <% if (locals.validationMessages.roles !== undefined) { %>
                    <p class="error-message" id="validation-selected-role"><%=locals.validationMessages.roles%></p>
                    <% } %>
                    <% if (locals.serviceRoles.length > 0) { %>
                        <legend>
                            <% if (locals.serviceDetails.relyingParty && locals.serviceDetails.relyingParty.params && locals.serviceDetails.relyingParty.params.serviceRoleMessage) { %>
                                <span class="body-text"><%= locals.serviceDetails.relyingParty.params.serviceRoleMessage %></span>
                            <% } else { %>
                            <span class="body-text">Select all required roles</span>
                            <% } %>
                        </legend>

                        <% for (let i = 0; i < locals.serviceRoles.length; i++) { %>
                            <% const role = locals.serviceRoles[i]; %>
                            <div class="multiple-choice">
                                <input id="<%=role.id%>" type="checkbox" name="role" value="<%=role.id%>"
                                        <% if (locals.selectedRoles.roles && locals.selectedRoles.roles.length > 0) {
                                        for(let i = 0; i < locals.selectedRoles.roles.length; i++) {
                                            const selectedRole = locals.selectedRoles.roles[i];
                                        %>
                                        <%= role.id === selectedRole ? 'checked': ''%><% } }%>>
                                <label for="<%=role.id%>"><%=role.name%></label>
                            </div>
                        <% } %>
                    <% } else { %>
                            <legend><h2 class="govuk-heading-s">There are no available roles for <%= locals.serviceDetails.name %>.</h2></legend>
                    <% } %>
                </fieldset>
            </div>
            <% if (locals.serviceDetails.relyingParty && locals.serviceDetails.relyingParty.params && locals.serviceDetails.relyingParty.params.serviceConfirmMessageFooter) { %>
                <div class="notice" style="margin-bottom: 1.2em;">
                    <i class="icon icon-important">
                        <span class="govuk-visually-hidden">Warning</span>
                    </i>
                    <strong class="govuk-!-font-size-19 govuk-!-font-weight-bold">
                        <%- locals.serviceDetails.relyingParty.params.serviceConfirmMessageFooter %>
                    </strong>
                </div>
            <% } %>

            <div class="form-submit submit-buttons">
                <button type="submit" class="govuk-button">Continue</button>
                <a href="<%= locals.user.uid && locals.user.isInvite ? "./../../" : "./../"%>" class="govuk-button govuk-button--secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
