<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">

            <% if (locals.serviceDetails.relyingParty && locals.serviceDetails.relyingParty.params && locals.serviceDetails.relyingParty.params.serviceConfirmMessageHeader) { %>
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-visually-hidden">Warning</span>
                        <%= locals.serviceDetails.relyingParty.params.serviceConfirmMessageHeader %>
                    </strong>
                </div>
            <% } %>

            <h1 class="govuk-heading-m govuk-!-margin-top-3">
                Select a sub-service for: <%= locals.serviceDetails.name %>
            </h1>

            <form method="post" class="prevent-form-double-submission">

                <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                    
                <div class="govuk-form-group  <%= (locals.validationMessages.roles !== undefined) ? 'govuk-form-group--error' : '' %>">
                    <fieldset class="govuk-fieldset" id="roles">

                        <% if (locals.validationMessages.roles !== undefined) { %>
                            <span id="validation-selected-role" class="govuk-error-message">
                                <span class="govuk-visually-hidden">There is a problem</span> <%-locals.validationMessages.roles%>
                            </span>
                        <% } %>

                        <legend class="govuk-visually-hidden">'Select all required sub-services'</legend>

                        <% if (locals.serviceRoles.length > 0) { %>
                            <!-- Update for approver add services to their own account  -->
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xs">
                                    <p class="govuk-body"> <%= (locals.allowedToSelectMoreThanOneRole && !locals.isRoleSelectionConstraintPresent) ? 'Select a minimum of 1 role.' : 'Select 1 role.' %> Some services ask you to select a sub-service, role, or form to better define how you will use them.
                              <!-- <% if (locals.serviceDetails.relyingParty && locals.serviceDetails.relyingParty.params && locals.serviceDetails.relyingParty.params.serviceRoleMessage) { %>
                                        <%= locals.serviceDetails.relyingParty.params.serviceRoleMessage %>
                                <% } %> -->
                              </p>
                            </legend>
                            <table class="govuk-table">
                                <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Select all required sub-services</caption>
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header">Select</th>
                                    <th scope="col" class="govuk-table__header govuk-!-width-full">Sub-service</th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
    
                                    <% for (let i = 0; i < locals.serviceRoles.length; i++) { %>
                                        <% const role = locals.serviceRoles[i]; %>
                                        <tr class="govuk-table__row extra-padding">
                                            <td class="govuk-table__cell">
                                                <div class="govuk-checkboxes__item">
                                                    <input class="govuk-checkboxes__input" id="<%=role.id%>" type="checkbox" name="role" value="<%=role.id%>"
                                                        <% if (locals.selectedRoles.roles && locals.selectedRoles.roles.length > 0) {
                                                        for(let i = 0; i < locals.selectedRoles.roles.length; i++) {
                                                            const selectedRole = locals.selectedRoles.roles[i];
                                                        %>
                                                        <%= role.id === selectedRole ? 'checked': ''%><% } }%>>
                                                    <label class="govuk-label govuk-checkboxes__label" for="<%=role.id%>"></label>                                                    
                                                </div>
                                            </td>
                                            <th scope="row" class="govuk-table__header govuk-table__cell">
                                                <label class="cursor-pointer" for="<%=role.id%>"><%=role.name%></label>
                                            </th>
                                        </tr>
                                    <% } %>

                                </tbody>
                            </table>

                        <% } else { %>
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h2 class="govuk-fieldset__legend__heading govuk-heading-s">
                                    There are no available sub-services.
                                </h2>
                            </legend>
                        <% } %>

                    </fieldset>
                </div>

                <% if (locals.sanitizedServiceConfirmMessageFooter) { %>
                    <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            <span class="govuk-visually-hidden">Warning</span>
                            <%- locals.sanitizedServiceConfirmMessageFooter %>
                        </strong>
                    </div>
                <% } %>

                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button">Continue</button>
                    <a href="/my-services" class="govuk-button govuk-button--secondary">Cancel</a>
                </div>

            </form>
        </div>
    </div>
</div>
