<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Confirm resend invitation email
        </h1>

        <p class="govuk-body">Please confirm the email address before resending an invitation to <%=locals.user.name%>.</p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form method="post" id="form-resend-invitation">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
            <fieldset>
                <legend class="vh">Edit <%=locals.user.name%>&apos;s email address</legend>
                <div class="govuk-form-group <%= (locals.validationMessages.email !== undefined) ? 'form-group-error' : '' %>">
                    <label class="govuk-label" for="email">Email address </label>
                    <% if (locals.validationMessages.email !== undefined) { %>
                    <p class="error-message" id="validation-email"><%=locals.validationMessages.email %></p>
                    <% } %>
                    <input class="form-control" id="email" name="email" type="text" <% if (locals.validationMessages.email !== undefined) { %> aria-invalid="true" aria-describedby="validation-email" <% } %> value="<%=email%>">
                </div>
            </fieldset>
            <div class="form-submit submit-buttons">
                <button type="submit" class="button">Submit</button>
                <a href="services" class="govuk-button govuk-button--secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>


