<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            This user has a DfE Sign-in account
        </h1>
        <p class="govuk-body-l">Please review these details and select continue to invite this user to <%= locals.organisationDetails.organisation.name%>.</p>

        <dl class="app-check-your-answers app-check-your-answers--short">

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__title">
                    First name
                </dt>
                <dd class="app-check-your-answers__answer">
                    <%=locals.user.firstName%>
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__title">
                    Last name
                </dt>
                <dd class="app-check-your-answers__answer">
                    <%=locals.user.lastName%>
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__title">
                    Email address
                </dt>
                <dd class="app-check-your-answers__answer">
                    <%=locals.user.email%>
                </dd>
            </div>
        </dl>

        <form method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
            <div class="submit-buttons">
                <button type="submit" class="govuk-button">Continue</button>
                <a href="../" class="govuk-button govuk-button--secondary">Cancel</a>
            </div>
        </form>

    </div>
</div>
