<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Review service changes
        </h1>
        <p class="govuk-body-l">Please review these details before saving</p>

        <dl class="app-check-your-answers app-check-your-answers--short">

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__title">
                    User
                </dt>
                <dd class="app-check-your-answers__answer">
                    <%=locals.user.firstName%> <%=locals.user.lastName%>
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__title">
                    Organisation
                </dt>
                <dd class="app-check-your-answers__answer">
                    <%=locals.organisationDetails.organisation.name%>
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__title">
                    Service
                </dt>
                <dd class="app-check-your-answers__answer">
                    <%= locals.service.name%>
                </dd>
            </div>
            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__title">
                    Roles
                </dt>
                <dd class="app-check-your-answers__answer">
                    <% if (locals.roles.length > 0) { %>
                        <%=locals.roles.name%>
                        <% for (let i = 0; i < locals.roles.length; i++) { %>
                            <% const role = locals.roles[i]; %>
                            <%=role.name%> <br>
                        <% } %>
                    <% } else { %>
                        No roles selected
                    <% }%>
                </dd>
            </div>
        </dl>

        <form method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
            <div class="submit-buttons">
                <button type="submit" class="govuk-button">Save</button>
                <a href="<%= locals.cancelLink %>" class="govuk-button govuk-button--secondary">Cancel</a>
            </div>
        </form>

    </div>
</div>
