<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Edit service
        </h1>
        <dl class="app-check-your-answers app-check-your-answers--short">

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__title">
                    User
                </dt>
                <dd class="app-check-your-answers__answer">
                    <%= locals.user.firstName %> <%= locals.user.lastName %>
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__title">
                    Organisation
                </dt>
                <dd class="app-check-your-answers__answer">
                    <%=locals.organisationDetails.organisation.name%>
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__title">
                    Service
                </dt>
                <dd class="app-check-your-answers__answer">
                    <%= locals.service.name%>
                </dd>
            </div>
        </dl>
        <% if (locals.serviceRoles.length > 0) { %>
        <form method="post">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
            <div class="govuk-form-group">
                <fieldset>
                    <legend>
                        <% if (locals.roleMessage) { %>
                            <span class="body-text"><%= locals.roleMessage %></span>
                        <% } else { %>
                        <span class="body-text">Select all required roles</span>
                        <% } %>
                    </legend>

                    <% for (let i = 0; i < locals.serviceRoles.length; i++) { %>
                        <% const role = locals.serviceRoles[i]; %>
                    <div class="multiple-choice">
                        <input id="<%=role.id%>" type="checkbox" name="role" value="<%=role.id%>"
                                <% if (locals.service.roles && locals.service.roles.length > 0) {
                                  for (let i = 0; i < locals.service.roles.length; i++) {
                                    const existingRole = locals.service.roles[i];
                                %>
                                <%= role.id === existingRole.id ? "checked" : ""%><% } }%>>
                        <label for="<%=role.id%>"><%=role.name%></label>
                    </div>
                    <% } %>
                </fieldset>
            </div>
            <div class="form-submit submit-buttons">
                <button type="submit" class="govuk-button">Save</button>
                <a href="<%= locals.cancelLink %>" class="govuk-button govuk-button--secondary">Cancel</a>
            </div>
        </form>
        <%}else {%>
            <legend><h2 class="govuk-heading-s">There are no available roles for <%= locals.service.name %>.</h2></legend>
        <%}%>
    </div>
    <div class="govuk-grid-column-one-third">
        <aside class="govuk-!-margin-top-9">
            <h2 class="govuk-heading-m">Actions</h2>
            <ul class="govuk-list">
                <li><a class="govuk-link-bold" href="<%=locals.service.id%>/remove-service">Remove service</a> </li>
            </ul>
        </aside>
    </div>
</div>
