<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Confirm <%=locals.user.organisation.roleId === 10000 ? 'remove approver' : 'approver';%> access
        </h1>
        <p class="govuk-body-l">Please review these details before <%=locals.user.organisation.roleId === 10000 ? 'removing' : 'granting';%> approver access to <%=locals.organisationDetails.organisation.name%> for <%= locals.user.firstName %> <%= locals.user.lastName %></p>
        <% if(locals.user.organisation.roleId !== 10000) { %>
            <p class="govuk-body">As an approver, <%= locals.user.firstName %> <%= locals.user.lastName %> will be able to:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>invite new users to DfE Sign-in</li>
                <li>approve requests to your organisation</li>
                <li>add and remove user access to services</li>
                <li>edit permission levels</li>
            </ul>
        <% } %>
        <dl class="app-check-your-answers app-check-your-answers--short">

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__title">
                    User
                </dt>
                <dd class="app-check-your-answers__answer">
                    <%= locals.user.firstName %> <%= locals.user.lastName %>
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__title">
                    Organisation
                </dt>
                <dd class="app-check-your-answers__answer">
                    <%=locals.organisationDetails.organisation.name%>
                </dd>
            </div>
        </dl>

        <form method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
            <% if (locals.user.organisation.roleId === 10000) { %>
            <input type="hidden" name="selectedLevel" value="0"/>
            <% } else { %>
            <input type="hidden" name="selectedLevel" value="10000"/>
            <% } %>
            <div class="form-submit submit-buttons">
                <button type="submit" class="govuk-button">Continue</button>
                <a href="./" class="govuk-button govuk-button--secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
