<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Select your Organisation
            </h1>
            <p class="govuk-body">
                You are associated with more than one organisation, please select the one you wish to sign-in with.
            </p>

            <h2 class="govuk-heading-m govuk-!-margin-top-3">
                Your Organisations
            </h2>
            
            <form method="post">

                <input type="hidden" name="_csrf" value="<%=csrfToken%>"/>

                <div class="govuk-form-group <%= (locals.validationMessages.selectedOrganisation !== undefined) ? 'govuk-form-group--error' : '' %>">

                    <fieldset class="govuk-fieldset">

                        <% if (locals.validationMessages.selectedOrganisation !== undefined) { %>
                            <span id="validation-selected-organisation" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> <%=locals.validationMessages.selectedOrganisation %>
                            </span>
                        <% } %>

                        <legend class="govuk-visually-hidden">Select the organisation</legend>

                        <div class="govuk-radios">

                        <% for(let i= 0; i < locals.organisations.length; i++) {
                            const org = locals.organisations[i];
                        %>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input <%= locals.organisations.length > 2 ? 'auto-scroll-on-change' : '' %>"
                                    id="<%= org.organisation.id %>" type="radio" name="selectedOrganisation" value="<%= org.organisation.id %>"
                                    <%= org.organisation.id === selectedOrganisation ? 'checked': ''%>
                                    >
                                <label class="govuk-label govuk-radios__label" for="<%= org.organisation.id %>">
                                    <span class="govuk-label govuk-label--s">
                                        <%= org.organisation.name %> <%=org.organisation.status ? `(${org.organisation.status.name})` : '' %>
                                    </span>
                                    <% if (org.naturalIdentifiers) { %>
                                        <span class="govuk-hint govuk-label__hint" >
                                            <%= org.naturalIdentifiers.join(', ') %>
                                        </span>
                                    <% } %>
                                    <br />
                                    <% if (org.organisation.LegalName) { %>
                                        <span class="govuk-hint govuk-label__hint" >
                                            Legal Name:  <%= org.organisation.LegalName %>
                                        </span>
                                    <% } %>
                                    <br />
                                    <% if (org.organisation.address && org.organisation.address !== 'Not recorded') { %>
                                        <span class="govuk-hint govuk-label__hint" >
                                            <%= org.organisation.address %>
                                        </span>
                                    <% } %>
                                </label>
                            </div>
                        <% } %>

                        </div>

                    </fieldset>

                </div>

                <div class="govuk-button-group auto-scroll-dest">
                    <button type="submit" class="govuk-button">Continue</button>
                </div>

            </form>

        </div>
    </div>
</div>