<div class="grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Select organisation
        </h1>
        <p class="govuk-body">Select the organisation that you want to manage users for.</p>
        <form method="post">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
            <div class="govuk-form-group <%= (locals.validationMessages.selectedOrganisation !== undefined) ? 'form-group-error' : '' %>">
                <fieldset>
                    <% if (locals.validationMessages.selectedOrganisation !== undefined) { %>
                    <p class="error-message" id="validation-selected-organisation"><%=locals.validationMessages.selectedOrganisation %></p>
                    <% } %>
                    <legend class="vh">Select the organisation </legend>
                    <% for(let i= 0; i < locals.organisations.length; i++) {
                      const org = locals.organisations[i];
                    %>
                    <div class="multiple-choice">
                        <input id="<%= org.organisation.id %>" type="radio" name="selectedOrganisation" value="<%= org.organisation.id %>">
                        <label for="<%= org.organisation.id %>">
                            <span class="govuk-label--s">
                                <%= org.organisation.name %> <%=org.organisation.status ? `(${org.organisation.status.name})` : '' %>
                            </span>
                            <% if (org.naturalIdentifiers) { %>
                            <span class="govuk-label__hint">
                                <%= org.naturalIdentifiers.join(', ') %>
                            </span>
                            <% } %>
                            <% if (org.organisation.address && org.organisation.address !== 'Not recorded') { %>
                                <span class="govuk-label__hint">
                                <%= org.organisation.address %>
                            </span>
                            <% } %>
                        </label>
                    </div>
                    <% } %>
                </fieldset>
            </div>
            <div class="form-submit">
                <button class="button">Continue</button>
            </div>
        </form>
    </div>
</div>
