<%- include('summaryPartial', {area: 'services'}); %>
<% let hasServices = false %>

<article class="organisation-services">
    <section class="organisation">
        <header>
            <h3 class="heading-small spacer-heading"><%= locals.organisation[0].organisation.name%></h3>
        </header>
    </section>
    <section class="services">
        <% if (locals.services.length > 0) { %>
            <% hasServices = true %>
        <table class="data no-borders">
            <thead>
            <tr>
                <th scope="col" class="cwp-30">Service</th>
                <th scope="col" class="cwp-25">Activated</th>
                <th scope="col" class="cwp-15">Status</th>
            </tr>
            </thead>
            <tbody>
            <% for (let i = 0; i < locals.services.length; i++) { %>
                    <% const service = locals.services[i]; %>
                    <tr>
                        <td> <a href="/approvals/<%= locals.organisation[0].organisation.id %>/users/<%= locals.user.id%>/services/<%=service.id%>"><%=service.name%></a></td>
                        <% if (service.dateActivated) { %>
                        <td><%=locals.moment(service.dateActivated).format('DD MMM YYYY')%></td>
                        <%} else {%>
                            <td>Pending</td>
                        <%}%>
                        <td><%= service.status.description%></td>
                    </tr>
            <% } %>
            </tbody>
        </table>
            <% } %>
    </section>
</article>

<% if (!hasServices) { %>
<div class="empty-state">
    <p><%=user.name%> is not associated with any services</p>
</div>
<% } %>
