<% if (locals.flash.info) { %>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="notification notification-success">
                <%= locals.flash.info %>
            </div>
        </div>
    </div>
<% } %>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            <span class="heading-secondary"><%= locals.user.email %></span>
            <%= locals.user.firstName%> <%= locals.user.lastName%>
        </h1>
        <dl class="inline condensed">
            <dt class="label">Account Status:</dt>
            <dd><%=locals.user.status.description%></dd>
            <dt class="label">Is approver:</dt>
            <dd><%= ( locals.user && locals.user.organisation && locals.user.organisation.roleId === 10000 ) ? 'Yes' : 'No';%></dd>
        </dl>
    </div>
    <div class="govuk-grid-column-one-third">
        <% if (!locals.user.deactivated) { %>
            <aside>
                <h2 class="govuk-heading-m">Actions</h2>
                <ul class="govuk-list">
                    <li><a class="govuk-link-bold" href="associate-services">Add services</a></li>
                    <li><a class="govuk-link-bold" href="edit-permission"><%=locals.user.organisation.roleId === 10000 ? 'Remove approver access' : 'Make approver';%></a></li>
                    <li><a class="govuk-link-bold" href="remove-organisation">Remove from organisation</a></li>
                    <% if (locals.isInvitation) { %>
                        <li><a class="govuk-link-bold" href="resend-invitation">Resend invitation email</a></li>
                    <% } %>
                </ul>
            </aside>
        <% } %>
    </div>
</div>

<nav>
    <ul class="tabs" role="tablist">


        <% if(locals.area === 'services') { %>
            <li class="active">Services</li>
        <% } else { %>
            <li><a class="govuk-link-bold" href="services" role="tab">Services</a></li>
        <% } %>

    </ul>
</nav>
