<h1 class="heading-xlarge">Users
    <small><%= locals.organisations[0].organisation.name%></small>
</h1>
<div class="row row-spacer">
    <div class="col-6 pull-right">
        <div class="pull-right">
            <a href="" class="button button-secondary">Invite user</a>
        </div>
    </div>
</div>

<%
const paginationModel = {
    method: 'post',
    csrfToken,
    currentPage: locals.page,
    numberOfPages: locals.numberOfPages,
    totalNumberOfResults: locals.totalNumberOfResults,
    numberOfResultsOnPage: locals.usersForOrganisation.users.length,
    data: [
        { key: 'criteria', value: locals.criteria },
        { key: 'sort', value: locals.sortBy },
        { key: 'sortDir', value: locals.sortOrder },
        { key: 'showFilters', value: locals.showFilters }
    ]
}
%>

<div class="row">
    <div class="col-12">
        <%- include('../../layouts/pagination', paginationModel); %>
        <table class="data">
            <thead>
            <tr class="sortable">
                <th scope="col" class="cwp-15">
                    <a href="#" class="sorted dir-d">Name</a></th>
                <th scope="col" class="cwp-35">
                    <a href="#" class="">Email</a></th>
                <th scope="col" class="cwp-15">
                    <a href="#" class="">Permission level</a></th>
                <th scope="col" class="cwp-10">
                    <a href="#" class="">Status</a></th>
            </tr>
            </thead>
            <tbody>

            <% for(let i= 0; i < locals.usersForOrganisation.users.length; i++) {
            const user = locals.usersForOrganisation.users[i]%>
            <tr>
                <td><a href=""><%= user.firstName %> <%= user.lastName %></a></td>

                <td><span class="breakable"><%=user.email%></span></td>
                <% if (locals.usersForOrganisation.users[i].role) { %>
                <td><%= locals.usersForOrganisation.users[i].role.name %></td>
                <% } else { %>
                    <td>Unknown</td>
                <% } %>
                <td></td>
            </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</div>


