<div class="govuk-width-container">
    <% if (locals.flash.info) { %>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="notification notification-success">
                    <%=locals.flash.info%>
                </div>
            </div>
        </div>
    <% } %>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                <span class="govuk-caption-xl"><%= locals.organisationDetails.organisation.name%> <%=locals.organisationDetails.organisation.status ? `(${locals.organisationDetails.organisation.status.name})` : '' %></span>
                Manage users
            </h1>
            <p class="govuk-body">Select a user from the list below and you'll be able to edit their permissions and services.</p>
            <p class="govuk-body"><a class="govuk-link-bold" href="<%=locals.urls.help%>/manage-users" target="_blank">Learn more about managing users</a></p>
        </div>
            <div class="govuk-grid-column-one-third">
                <aside class="govuk-!-margin-top-9">
                    <h2 class="govuk-heading-m">Actions</h2>
                    <ul class="govuk-list">
                        <% if (locals.organisationStatus !== 2) { %>
                            <li><a class="govuk-link-bold" href="/approvals/<%=locals.organisationDetails.organisation.id%>/users/new-user">Invite user</a></li>
                        <% } %>
                        <% if (locals.useRequestOrg) { %>
                            <li><a class="govuk-link-bold" href="/access-requests/<%=locals.organisationDetails.organisation.id%>/requests">View requests</a></li>
                        <% } %>
                    </ul>
                </aside>
            </div>
    </div>

    <%
    const paginationModel = {
        method: 'post',
        csrfToken,
        currentPage: locals.page,
        numberOfPages: locals.numberOfPages,
        totalNumberOfResults: locals.totalNumberOfResults,
        numberOfResultsOnPage: locals.usersForOrganisation.users.length,
        data: [
            { key: 'criteria', value: locals.criteria },
            { key: 'sort', value: locals.sortBy },
            { key: 'sortDir', value: locals.sortOrder },
            { key: 'showFilters', value: locals.showFilters }
        ]
    }
    %>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <%- include('../../layouts/pagination', paginationModel); %>
            <table class="custom-table data">
                <thead>
                <% let baseSortUri = `?page=${page}`;%>
                <tr class="sortable">
                    <th scope="col" class="cwp-15">
                        <a href="<%=baseSortUri%>&sort=searchableName&sortdir=<%= locals.sort.searchableName.nextDirection %>"
                        class="<% if (locals.sort.searchableName.applied) { %>sorted dir-<%= (locals.sort.searchableName.nextDirection === 'desc') ? 'd' : 'a' %> <% } %>">Name</a></th>
                    <th scope="col" class="cwp-35">
                        <a href="<%=baseSortUri%>&sort=searchableEmail&sortdir=<%= locals.sort.searchableEmail.nextDirection %>"
                        class="<% if (locals.sort.searchableEmail.applied) { %>sorted dir-<%= (locals.sort.searchableEmail.nextDirection === 'desc') ? 'd' : 'a' %> <% } %>">Email</a></th>
                    <th scope="col" class="cwp-15">
                        <a href="#" class="">Is approver</a></th>
                    <th scope="col" class="cwp-10">
                        <a href="<%=baseSortUri%>&sort=lastLogin&sortdir=<%= locals.sort.lastLogin.nextDirection %>"
                        class="<% if (locals.sort.lastLogin.applied) { %>sorted dir-<%= (locals.sort.lastLogin.nextDirection === 'desc') ? 'd' : 'a' %> <% } %>">Last login</a></th>
                    <th scope="col" class="cwp-10">
                        <a href="<%=baseSortUri%>&sort=statusId&sortdir=<%= locals.sort.statusId.nextDirection %>"
                        class="<% if (locals.sort.statusId.applied) { %>sorted dir-<%= (locals.sort.statusId.nextDirection === 'desc') ? 'd' : 'a' %> <% } %>">Status</a></th>
                </tr>
                </thead>
                <tbody>
                <% if(locals.usersForOrganisation.users.length === 0) { %>
                    <tr>
                        <td colspan="5"><span class="empty-state">No users found</span></td>
                    </tr>
                <% } %>
                <% for(let i= 0; i < locals.usersForOrganisation.users.length; i++) {
                const user = locals.usersForOrganisation.users[i]%>
                <tr>
                    <td><a class="govuk-link" href="/approvals/<%= locals.organisationDetails.organisation.id %>/users/<%= user.id%>"><%= user.firstName %> <%= user.lastName %></a></td>

                    <td><span class="breakable"><%=user.email%></span></td>
                    <%
                    if (user.organisations.length > 0) {
                        const permissionName = user.organisations[0].roleId === 10000 ? 'Yes' : '';
                        %>
                        <td><%= permissionName %></td>
                    <% } else { %>
                        <td>Unknown</td>
                    <% } %>

                    <td><%=user.lastLogin ? locals.moment(user.lastLogin).fromNow() : 'Never'%></td>

                    <td><%= user.statusId.description %></td>
                </tr>
                <% } %>
                </tbody>
            </table>
            <%- include('../../layouts/pagination', paginationModel); %>
        </div>
    </div>
</div>
