<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            DfE Sign-in
        </h1>
        <p class="govuk-body">To access your service, please select below and you will be taken to the appropriate login page.</p>

        <h2 class="govuk-heading-m">Services on DfE Sign-in </h2>
        <p class="govuk-body">The first time you use DfE Sign in you will be asked to migrate your account from Secure Access. If you have already migrated, use your email and password to login.</p>
        <article class="organisation-services">
            <section>
                <ul class="service-list">
                    <%
                    for (let s = 0; s < services.length; s++) {
                        const service = services[s];
                        if (service.isMigrated === true && service.isExternalService === true) {
                    %>
                    <li>
                        <div class="links">
                            <div class="service-link">
                                <a href="<%=service.serviceUrl%>" class="service-link"><%=service.name%></a>
                            </div>
                            <a href="#" class="information">More Information <span class="vh">about <%=service.name%></span></a>
                        </div>
                        <div class="service-description js-hidden">
                            <dl class="simple">
                                <dd><%=service.description%></dd>
                            </dl>
                        </div>
                    </li>
                    <% } %>
                    <% } %>
                </ul>
            </section>
        </article>
        <h2 class="govuk-heading-m">Services on Secure Access </h2>
        <p class="govuk-body">You will still login to Secure Access, using your Secure Access username and password</p>
        <article class="organisation-services">
            <section>
                <ul class="service-list">
                    <%
                    for (let s = 0; s < services.length; s++) {
                        const service = services[s];
                        if (service.isMigrated === false && service.isExternalService === true) {
                    %>
                    <li>
                        <div class="links">
                            <div class="service-link">
                                <a href="<%=service.serviceUrl%>" class="service-link"><%=service.name%></a>
                            </div>
                            <a href="#" class="information">More Information <span class="vh">about <%=service.name%></span></a>
                        </div>
                        <div class="service-description js-hidden">
                            <dl class="simple">
                                <dd><%=service.description%></dd>
                            </dl>
                        </div>
                    </li>
                    <% } %>
                    <% } %>
                </ul>
            </section>
        </article>
    </div>
</div>
