<% if (!enableTaskList || services.length !== 0) { %>
    <div id="home-top" class="home-top">
        <div class="govuk-width-container home-top__inner">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl govuk-!-margin-top-5 govuk-!-margin-bottom-5">My services</h1>
                </div>
                <div class="govuk-grid-column-two-thirds">
                    <% if (locals.isApprover) { %>
                        <h3 class="govuk-heading-m">
                            Here you can access services associated with your account.
                            Need a new service, form, role, or census? Add or request a service under the related actions menu.
                        </h3>
                    <% } else { %>
                        <h3 class="govuk-heading-m">
                            Here you can access services associated with your account.
                        </h3>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
<% } %>

<div class="govuk-width-container">
    <div class ="servicesv2">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-0">
                <% if (enableTaskList && services.length === 0) { %>
                    <div>
                        <h1 class="govuk-heading-xl">
                            Set up your DfE Sign-in account
                        </h1>
                        <p class="govuk-body">Complete the following steps to finish setting up your account.</p>
                        <div>
                            <ol class="task-list">
                                <li>
                                    <h2 class="task-list-section">
                                        <span class="task-list-section-number">1. </span> Verify your account
                                    </h2>
                                    <ul class="task-list-items">
                                        <li class="task-list-item">
                                            <p class="govuk-body task-name">
                                                Verify your email address
                                            </p>
                                            <strong class="task-status govuk-tag">Completed</strong>
                                        </li>
                                        <li class="task-list-item">
                                            <p class="govuk-body task-name">
                                                Set password for account
                                            </p>
                                            <strong class="task-status govuk-tag">Completed</strong>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <h2 class="task-list-section">
                                        <span class="task-list-section-number">2. </span> Connect to an organisation
                                    </h2>
                                    <ul class="task-list-items">
                                        <li class="task-list-item">
                                        <% if(!taskListStatus.hasOrgAssigned) { %>
                                            <a class="govuk-link-bold" href="/request-organisation/search">
                                                Request access to an organisation
                                            </a>
                                        <% } else { %>
                                            <p class="govuk-body task-name">
                                                Request access to an organisation
                                            </p>
                                        <% } %>
                                        <% if(!taskListStatus.hasOrgAssigned) { %>
                                            <a class="govuk-button pull-right govuk-!-margin-0" href="/request-organisation/search" role="button">Next Action</a>
                                        <% } else { %>
                                            <strong class="task-status govuk-tag">Completed</strong>
                                        <% } %>
                                        </li>
                                        <li class="task-list-item">
                                            <p class="govuk-body task-name">
                                                Await approval from organisation
                                            </p>
                                            <% if(taskListStatus.hasRequestPending) { %>
                                                <strong class="task-status govuk-tag govuk-tag--grey">Pending</strong>
                                            <% } else if( taskListStatus.hasRequestRejected ) { %>
                                                <strong class="task-status govuk-tag govuk-tag--red">Rejected</strong>
                                            <% } else if( taskListStatus.hasOrgAssigned && !taskListStatus.hasRequestPending && !taskListStatus.hasRequestRejected) { %>
                                                <strong class="task-status govuk-tag">Approved</strong>
                                            <% } %>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <!--   {% if action === "accepted" %}-->
                                    <h2 class="task-list-section">
                                        <span class="task-list-section-number">3. </span> Get access to services
                                    </h2>
                                    <ul class="task-list-items">
                                        <% if (taskListStatus.multiOrgDetails.orgs > 1 && taskListStatus.multiOrgDetails.approvers >= 1 &&
                                                !taskListStatus.approverForOrg) { %>
                                            <li class="task-list-item">
                                                <p class="govuk-body task-name">
                                                    Email organisation's approver for access to services
                                                    <br/> <a class="govuk-link-bold" href="/organisations">See my approvers</a>
                                                </p>
                                            </li>
                                        <% } else if (approvers.length === 0 && taskListStatus.hasOrgAssigned && !taskListStatus.hasRequestPending &&
                                                !taskListStatus.hasRequestRejected) { %>
                                        <!-- Add what if there are no approvers -->
                                            <li class="task-list-item">
                                                <p class="govuk-body task-name">
                                                    We are assigning your organisation's first approver (this may take up to 5 days)
                                                </p>
                                            </li>
                                        <% } else if(taskListStatus.approverForOrg) { %>
                                            <li class="task-list-item">
                                                <a class="govuk-link-bold" href='<%=locals.addServicesRedirect%>'>Add services</a>
                                                <a class="govuk-button pull-right govuk-!-margin-0" href='<%=locals.addServicesRedirect%>' role="button">Next Action</a>
                                            </li>
                                        <% } else { %>
                                            <li class="task-list-item">
                                                <p class="govuk-body task-name">
                                                    Email organisation's approver for access to services
                                                </p>
                                                <% if (approvers.length < 5) { %>
                                                    <ul>
                                                        <% for (let a = 0; a < approvers.length; a++) { %>
                                                        <li><a class="govuk-link-bold" href="mailto:<%=approvers[a].email%>"><%= approvers[a].email %></a> </li>
                                                        <% } %>
                                                    </ul>
                                                <% } else { %> 
    
                                                    </br></br>
    
                                                    <article class="organisation-services govuk-!-margin-bottom-0">
                                                        <section class="organisation">
                                                            <div>
                                                                <a href="" class="govuk-link-bold info-link"><%= approvers.length %> approvers</a>
                                                            </div>
                                                            <div class="meta js-hidden">
                                                                <div class="approvers">
                                                                    <dl class="inline condensed small-dt">
                                                                        <ul>
                                                                            <% for (let a = 0; a < approvers.length; a++) { %>
                                                                            <li><a class="govuk-link-bold" href="mailto:<%=approvers[a].email%>"><%= approvers[a].email %></a> </li>
                                                                            <% } %>
                                                                        </ul>
                                                                    </dl>
                                                                </div>
                                                            </div>
                                                        </section>
                                                    </article>
    
                                                <% }%>
                                            </li>
                                        <% } %>
                                    </ul>
                                </li>
                            </ol>
                        </div>
                    </div>
                <% } else { %>
                    <div class="govuk-!-margin-top-9 govuk-!-margin-bottom-9">
                        <% if (locals.flash.title && locals.flash.heading && locals.flash.message) { %>
                            <div class="govuk-width-container" id="mainContainerDiv">
                                <div id="notification-wrapper" class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                                    <div class="govuk-notification-banner__header govuk-grid-row">
                                        <div class="govuk-grid-column-two-thirds">
                                            <h2 class="govuk-notification-banner__title" id="notification-title">
                                                <%= locals.flash.title %>
                                            </h2>
                                        </div>
                                        <div class="govuk-grid-column-one-third">
                                            <span class="close-button pull-right" id="close" 
                                                onclick="document.getElementById('mainContainerDiv').removeChild(document.getElementById('notification-wrapper')); return false;">
                                                x
                                            </span>
                                        </div>
                                    </div>
                                    <div class="govuk-notification-banner__content" id="notification-content">
                                        <h3 class="govuk-notification-banner__heading">
                                            <%= locals.flash.heading %>
                                        </h3>
                                        <p class="govuk-body">
                                            <%= locals.flash.message %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        <%- include reviewUsers.ejs %>
                        <% if (services.length === 0) { %>
                            <div class="empty-state">
                                <p class="govuk-body">You have no services assigned, please contact your <a class="govuk-link-bold"
                                        href="organisations">approver</a>.</p>
                            </div>
                        <% } %>
                    </div>
                <% } %>
                <% if (locals.approverRequests && locals.approverRequests.length > 0) { %>
                    <div class="panel panel-border-narrow alert-default" tabindex="0">
                        <% if (locals.approverRequests.length === 1) { %>
                        <p class="govuk-body">There is <strong
                                class="govuk-!-font-size-19 govuk-!-font-weight-bold"><%= locals.approverRequests.length %>
                                request</strong>
                            you need to action - <a class="govuk-link-bold" href="/access-requests">view requests</a>
                        </p>
                        <% } else { %>
                        <p class="govuk-body">There are <strong
                                class="govuk-!-font-size-19 govuk-!-font-weight-bold"><%= locals.approverRequests.length %>
                                requests</strong> you need to action - <a class="govuk-link-bold"
                                href="/access-requests">view
                                requests</a>
                        </p>
                        <% } %>
                    </div>
                <% } %>
            </div>
            
            <div class="govuk-grid-column-one-third pull-right">
                <aside class="govuk-!-margin-top-9">
                    <h2 class="govuk-heading-m">Related actions</h2>
                    <ul class="govuk-list">
                        <% if (locals.isApprover) { %>
                            <li><a class="govuk-link-bold" href="<%=locals.addServicesRedirect%>">Add services to my account</a> </li>
                            <li><a class="govuk-link-bold" href="<%=locals.editServicesRedirect%>">Edit services on my account</a> </li>
                        <% } %>
                        <li><a class="govuk-link-bold" href="<%=locals.urls.help%>/services">Help with services</a></li>
                        <li><a class="govuk-link-bold" href="organisations">See approvers at an organisation</a></li>
                    </ul>
                </aside>
            </div>

        </div>
        <div class="govuk-grid-row">
            <% if (!enableTaskList || services.length !== 0) { %>
                <div class="govuk-grid-column-two-thirds">
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header width-35">Service</th>
                                <th scope="col" class="govuk-table__header width-65">Description</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <%
                                for (let s = 0; s < services.length; s++) {
                                    const service = services[s];
                                %>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                    <p class="<%= service.disabled ? 'service-link-disabled' : 'service-link'%>">
                                        <% if (service.disabled) { %>
                                        <span class="date">Available: <%=service.date%></span>
                                        <h3 class="govuk-heading-s"><%=service.name%></h3>
                                        <% } else { %>
                                        <a href="<%=service.serviceUrl%>" class="govuk-link-bold" target="_blank"><%=service.name%></a>
                                        <% } %>
                                    </p>
                                </td>
                                <td class="govuk-table__cell">
                                    <% if (service.description) { %>
                                    <p class="govuk-!-font-size-16"><%= service.description %></p>
                                    <% } %>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            <% } %>
        </div>
    </div>
</div>