<div id="home-top" class="home-top">
    <div class="govuk-width-container home-top__inner">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl govuk-!-margin-top-5 govuk-!-margin-bottom-5">Requests</h1>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <h3 class="govuk-heading-m">
                    Here you'll find the requests raised by users at your organisations. Select 'review' to approve or reject.
                </h3>
            </div>
        </div>
    </div>
</div>

<div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-margin-bottom-3">
        <div class="govuk-grid-column-two-thirds govuk-!-padding-0">
            <div class="govuk-!-margin-top-9 govuk-!-margin-bottom-9">
                <% if (locals.flash.title && locals.flash.heading && locals.flash.message) { %>
                    <% if(locals.flash.title[0] !== 'Success') {%>
                    <div id="notification-wrapper" class="govuk-notification-banner govuk-notification-banner"
                        role="alert" aria-labelledby="govuk-notification-banner-title"
                        data-module="govuk-notification-banner">
                        <% } else{ %>
                            <div id="notification-wrapper" class="govuk-notification-banner govuk-notification-banner--success"
                            role="alert" aria-labelledby="govuk-notification-banner-title"
                            data-module="govuk-notification-banner">
                            <%}%>
                        <div class="govuk-notification-banner__header govuk-grid-row">
                            <div class="govuk-grid-column-two-thirds">
                                <h2 class="govuk-notification-banner__title" id="notification-title">
                                    <%= locals.flash.title %> 
                                </h2>
                            </div>
                            <div class="govuk-grid-column-one-third">
                                <span class="close-button pull-right" id="close">x</span>
                            </div>
                        </div>
                        <div class="govuk-notification-banner__content" id="notification-content">
                            <h3 class="govuk-notification-banner__heading">
                                <%= locals.flash.heading %>
                            </h3>
                            <p class="govuk-body">
                                <%- locals.flash.message %>
                            </p>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>

        <div class="govuk-grid-column-one-third">
            <aside class="govuk-!-margin-top-9">
                <h2 class="govuk-heading-m">Related actions</h2>
                <ul class="govuk-list">
                    <li><a class="govuk-link-bold" href="<%=locals.urls.help%>/requests">Help with requests</a></li>
                </ul>
            </aside>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full-width">

    <%
    const paginationModel = {
        method: 'post',
        csrfToken,
        currentPage: locals.page,
        numberOfPages: locals.numberOfPages,
        totalNumberOfResults: locals.totalNumberOfResults,
        numberOfResultsOnPage: locals.requests.length,
    }
    %>           
     <%- include('../../layouts/pagination', paginationModel); %>
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header width-20">
                            Date raised
                        </th>
                        <th scope="col" class="govuk-table__header">
                            Name
                        </th>
                        <th scope="col" class="govuk-table__header">
                            Request type
                        </th>
                        <th scope="col" class="govuk-table__header">
                            Organisation
                        </th>
                        <th scope="col" class="govuk-table__header">
                            Status
                        </th>
                        <th scope="col" class="govuk-table__header">
                            Action
                        </th>
                    </tr>
                </thead>

                <tbody class="govuk-table__body">
                    <% if(locals.requests.length === 0) { %>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" colspan="6">
                                <div class="empty-state">
                                    <p class="govuk-body">You have no requests</p>
                                </div>
                            </td>
                        </tr>
                    <% } %>

                    <% for(let i= 0; i < locals.requests.length; i++) {
                        const request = locals.requests[i]%>
                            <tr class="govuk-table__row">
                                <th class="govuk-table__cell govuk-body govuk-!-font-size-15 govuk-!-font-weight-bold">
                                    <%= locals.moment(request.created_date).format('DD MMM YYYY') %>
                                </th>
                                <td class="govuk-table__cell govuk-body govuk-!-font-size-16">
                                    <%= request.userName %>
                                </td>
                                <td class="govuk-table__cell govuk-body govuk-!-font-size-16">
                                    <%= request.request_type.name %>
                                </td>
                                <td class="govuk-table__cell govuk-body govuk-!-font-size-16">
                                    <%= request.org_name %>
                                </td>
                                <td class="govuk-table__cell govuk-body govuk-!-font-size-16">
                                    <%= request.status.name %>
                                </td>
                                <td class="govuk-table__cell govuk-body govuk-!-font-size-16">
                                    <% if(request.request_type.id  === 'service') { %>
                                    <a class="govuk-link" href="<%= request.request_type.id %>-requests/<%= request.id %>/<%=request.org_id %>/users/<%= request.user_id  %>/services/<%= request.service_id %>/roles/<%=encodeURIComponent(request.role_ids) %>">
                                        Review
                                    </a>
                                    <% } else { %>
                                        <a class="govuk-link" href="<%= request.request_type.id %>-requests/<%= request.id %>">
                                            Review
                                        </a>
                                    <% } %>
                                </td>
                            </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>
