<h1 class="govuk-heading-xl">Access requests</h1>
<nav>
    <ul class="tabs" role="tablist">
        <li class="active">Organisations (<%=locals.usersForApproval.length%>)</li>
    </ul>
</nav>
<div class="pane">
    <% for(let i= 0; i < locals.usersForApproval.length; i++) {%>
    <form method="post">
        <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
        <input type="hidden" value="<%=locals.usersForApproval[i].user_id%>" name="user_id" />
        <input type="hidden" value="<%=locals.usersForApproval[i].org_id%>" name="org_id" />
        <div class="request">
            <p class="govuk-body"><b><%=locals.usersForApproval[i].usersName%></b>
                <span class="breakable">(<%=locals.usersForApproval[i].usersEmail%>)</span>
                has requested access to <b><%=locals.usersForApproval[i].org_name%></b> &ndash;
                <time datetime="<%=locals.usersForApproval[i].created_date%>"><%=moment(locals.usersForApproval[i].created_date).fromNow()%></time>
            </p>
            <a href="#respond-<%=i%>" data-target="respond-<%=i%>" class="button-respond js-toggle-content">Respond</a>
            <div class="respond js-hidden" id="respond-<%=i%>">
                <div class="govuk-form-group">
                    <fieldset class="inline">
                        <legend class="govuk-fieldset__legend">
                            <h2 class="govuk-fieldset__legend--s">Your response</h2>
                        </legend>
                        <div class="multiple-choice" data-target="panel-permissions-<%=i%>">
                            <input id="radio-inline-approve-<%=i%>" type="radio" name="approve_reject" value="Approve">
                            <label for="radio-inline-approve-<%=i%>">Approve</label>
                        </div>
                        <div class="multiple-choice" data-target="panel-message-<%=i%>">
                            <input id="radio-inline-reject-<%=i%>" type="radio" name="approve_reject" value="Reject">
                            <label for="radio-inline-reject-<%=i%>">Reject</label>
                        </div>
                    </fieldset>
                </div>
                <div class="pnl js-hidden" id="panel-permissions-<%=i%>">
                    <div class="govuk-form-group">
                        <fieldset class="inline">
                            <legend class="govuk-fieldset__legend">
                                <h2 class="govuk-fieldset__legend--s">Permissions level</h2>
                            </legend>
                            <div class="multiple-choice">
                                <input id="radio-inline-enduser-<%=i%>" type="radio" name="role" value="End user" checked="checked">
                                <label for="radio-inline-enduser-<%=i%>">End user</label>
                            </div>
                            <div class="multiple-choice">
                                <input id="radio-inline-approver-<%=i%>" type="radio" name="role" value="Approver">
                                <label for="radio-inline-approver-<%=i%>">Approver</label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="govuk-form-group form-submit">
                        <button type="submit" class="govuk-button">Save</button>
                    </div>
                </div>
                <div class="pnl js-hidden" id="panel-message-<%=i%>">
                    <div class="govuk-form-group">
                        <label for="message-<%=i%>">
                            <span class="govuk-label govuk-label--s">Reason for rejecting (optional)</span>
                            <span class="govuk-hint govuk-label__hint" >Any text you supply will be emailed to <%=locals.usersForApproval[i].usersName%> and stored in the audit </span>
                        </label>
                        <textarea rows="3" class="form-control" name="message" id="message-<%=i%>"></textarea>
                    </div>
                    <div class="govuk-form-group form-submit">
                        <button type="submit" class="govuk-button">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <%}%>%>
</div>
